menu "WiFi Mode Configuration"

    menu "SoftAP Configuration"
        comment "SoftAP Configuration"

        config ESP_WIFI_AP_SSID
            string "WiFi AP SSID"
            default "myssid"
            help
                SSID (network name) of the AP for the example to connect to.

        config ESP_WIFI_AP_PASSWORD
            string "WiFi AP Password"
            default "mypassword"
            help
                WiFi password of the AP for the example to use.

        config ESP_WIFI_AP_CHANNEL
            int "WiFi AP Channel"
            range 1 14
            default 1
            help
                WiFi channel (network channel) of the AP for the example to use.

        config ESP_MAX_STA_CONN_AP
            int "Maximal STA connections"
            default 4
            help
                Max number of the STA connects to AP.
    endmenu

    menu "STA Configuration"
        comment "STA Configuration"

        config ESP_WIFI_STA_MODE_RESET
            bool "Reset WiFi Storage to Default"
            default n
            help
                Reset WiFi storage to default values.

        config ESP_WIFI_STA_SSID
            string "WiFi SSID"
            default "sta_ssid"
            help
                SSID (network name) for the example's sta to connect to.

        config ESP_WIFI_STA_PASSWD
            string "WiFi Password"
            default "sta_password"
            help
                WiFi password for the example to use.

        config ESP_WIFI_STA_MAXIMUM_RETRY
            int "Maximum retry"
            default 5
            help
                Set the maximum retry value to prevent the station from continuously
                attempting to reconnect to the Access Point (AP) when the AP doesn't exist.

    endmenu
endmenu

menu "Device Configuration"
    menu "Device Data Configuration"
        comment "Device Data Configuration"

        config SENSOR_UNIT_ID
            string "Sensor unit ID"
            default "SU202605001"
            help
                Senssor unit Id.

        config WS_PASSKEY_VALUE
            string "WebSocket Passkey"
            default "12345"
            help
                WebSocket passkey for the device.

    endmenu


    menu "LED Indicators Configuration"
        comment "LED Indicators Configuration"

        config RED_LED_PIN
            int "RED LED PIN"
            default 17
            help
                Red LED pin number.

        config GREEN_LED_PIN
            int "GREEN LED PIN"
            default 16
            help
                Green LED pin number.
    endmenu

    menu "MQTT client Configuration"
        comment "MQTT client Configuration"

        config MQTT_BROKER_URI
            string "MQTT BROKER URI"
            default "mqtt://10.217.90.172"
            help
                MQTT broker URI for the device to connect to.

        config MQTT_BASE_TOPIC
            string "MQTT BASE TOPIC"
            default "vortex_device/sensor_unit/"
            help
                MQTT base topic for the device communication.

    endmenu
    
endmenu